/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    height: auto;
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  /* Add more styling as needed */
  